

// Inputs

LOCATE COMP "val1[0]" SITE "C4";
INPUT PORT "val1[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "val1[1]" SITE "C3";
INPUT PORT "val1[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "val1[2]" SITE "D5";
INPUT PORT "val1[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "val1[3]" SITE "D4";
INPUT PORT "val1[3]" IO_TYPE=LVCMOS33;

// inputs - val2
LOCATE COMP "val2[0]" SITE "E4";
INPUT PORT "val2[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[1]" SITE "E3";
INPUT PORT "val2[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[2]" SITE "G4";
INPUT PORT "val2[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "val2[3]" SITE "G3";
INPUT PORT "val2[3]" IO_TYPE=LVCMOS33;





// Outputs
LOCATE COMP "seg7[0]" SITE "A2";
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[1]" SITE "A3";
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[2]" SITE "A4";
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[3]" SITE "A5";
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[4]" SITE "A6";
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[5]" SITE "A7";
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[6]" SITE "A8";
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg7[7]" SITE "B8";
IOBUF PORT "seg7[7]" IO_TYPE=LVCMOS33;


