
set_io val1[0] 46
set_io val1[1] 44
set_io val1[2] 42
set_io val1[3] 37

set_io val2[0] 45
set_io val2[1] 43
set_io val2[2] 38
set_io val2[3] 36

set_io seg7[0] 34
set_io seg7[1] 31
set_io seg7[2] 27
set_io seg7[3] 25

set_io seg7[4] 32
set_io seg7[5] 28
set_io seg7[6] 26
set_io seg7[7] 23